<h2 class="text-center">Your Matches</h2>
<!-- show all users matches -->
<div class="container">
  <div class="row">
    <% @matches.each do |match| %>
      <div class="col-sm-4">
        <% if match.images.attached? %>
        <div class="match-tile rounded" style="background-image: url('<%= url_for match.images.first %>')">
          <p class="text-white"><%= match.first_name %></p>

        </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
