<div class="profile-bar bg-danger">
  <%= link_to "", class: "d-block text-white" do %>
    <%= link_to "My Profile", edit_account_registration_path, class: "my-profile mt-2 text-white"%>
  <% end %>
</div>
